access_log.txt
/nbproject/private/
/vpproject/
/monitor/src/backup/
/monitor/src/lib/
!/monitor.exe
/logs/
!/php/libenchant.dll
!/php/glib-2.dll
!/php/libenchant_ispell.dll
!/php/libsasl.dll
!/php/msvcr110.dll
!/php/libpq.dll
!/php/php5ts.dll
!/php/php-win.exe
!/php/libenchant_myspell.dll
!/php/gmodule-2.dll
!/php/php5apache2_4.dll
!/php/php.exe
!/php/libeay32.dll
!/php/ssleay32.dll
!/php/php-cgi.exe
!/php/ext/php_interbase.dll
!/php/ext/php_sqlite3.dll
!/php/ext/php_bz2.dll
!/php/ext/php_mysqli.dll
!/php/ext/php_xdebug.dll
!/php/ext/php_gd2.dll
!/php/ext/php_soap.dll
!/php/ext/php_opcache.dll
!/php/ext/php_sockets.dll
!/php/ext/php_snmp.dll
!/php/ext/php_exif.dll
!/php/ext/php_pdo_sqlite.dll
!/php/ext/php_mysql.dll
!/php/ext/php_pgsql.dll
!/php/ext/php_openssl.dll
!/php/ext/php_mbstring.dll
!/php/ext/php_ldap.dll
!/php/ext/php_curl.dll
!/php/ext/php_xsl.dll
!/php/ext/php_fileinfo.dll
!/php/ext/php_xmlrpc.dll
!/php/ext/php_imap.dll
!/php/ext/php_intl.dll
!/php/ext/php_tidy.dll
!/php/sendmail.exe
/mailspool/
/phpdoc/vendor/
/web_root/migback/
Thumbs.db
*.dcu
/reportengine/src/Win32/
/reportengine/src/__history/
/web_root/output/
/reta.ini
/web_root/test.db
reportengine/src/reta.~dsk
.idea/workspace.xml
.idea/
web_root/images/
/web_root/migrations/19000101100000 initial_kim_global_settings.sql
/web_root/migrations/19000101100001 initial_kim_content_table.sql